.img-strip{
  width: 46px;
  height: 18px;
}
.button-payment{
  width: 49px !important;
  height: 23px !important;
  background: RGB(0, 127, 203) !important;
  color: white !important;
  display: flex ;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}