:root {
  --inputErrorForm: rgba(0 , 0 , 0 , 0.15);
  --inputBorderErrorForm: #40a9ff;
}


@font-face {
  font-family: 'SF Pro Display';
  src: url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Heavy.eot) format('embedded-opentype'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff2) format('woff2'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff2) format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Medium.eot) format('embedded-opentype'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Medium.woff2) format('woff2'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.eot) format('embedded-opentype'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff2) format('woff2'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.img-strip{
  width: 46px;
  height: 18px;
}
.button-payment{
  width: 49px !important;
  height: 23px !important;
  background: RGB(0, 127, 203) !important;
  color: white !important;
  display: flex ;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.spn_CompteSettings{
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
.spn1_securité{
  font-family: "SF Pro Display" !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  text-align: left !important;
}
.spn2_motDePasse{
  font-family: "SF Pro Display";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
.mdp{
  font-size: 14px;
  font-family: "SF Pro Display";
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}
.spn_abonnement{
  font-size: 20px;
  font-family: "SF Pro Display";
  font-weight: 500;
}
.parag_abonnement{
  font-size: 14px;
  font-family: "SF Pro Display";
  font-weight: normal;
}
.parag_abonnement_gras{
  font-size: 14px;
  font-family: "SF Pro Display";
  font-weight: 500;
}
.spn_limite{
  font-size: 13px;
  font-family: "SF Pro Display";
  font-weight: 500;
}


#product-form_email{
  border-color: var(--inputErrorForm) !important ;
  box-shadow :none;
  &:hover{
    border-color: var(--inputBorderErrorForm) !important;
    box-shadow :none;
  }
  &.ant-form-item-has-error .ant-input{
    border-color: red !important;
  }
}

#product-form_email:focus{
  border-color: var(--inputBorderErrorForm) !important;
  border-right-width: 1px !important;
  box-shadow :none;
  outline: 0;
}

.ant-form-item-has-error{
  border-color: red !important;
}

.ant-form-item-has-error .ant-input, .ant-form-item-has-error .ant-input-affix-wrapper, .ant-form-item-has-error .ant-input:hover, .ant-form-item-has-error .ant-input-affix-wrapper:hover {
  background-color: #fff;
  border-color: #ff4d4f !important;
}

.ant-form-item-has-error .ant-input{
  border-color: red !important;
  &:focus{
    border-color: red !important;
  }
}


//************* Media Query Compte Settings ***************//

@media (max-width: 1080px) {
   .col_avatar{
     margin-bottom: 30px;
   }
}

@media screen and (max-width: 767px) {
 .menuCompteSettings{
   width: 100% !important;
  display: flex !important;
   flex-direction: row !important;
   justify-content: space-between !important;
   align-items: center !important;
   border-right: none !important;
 }
  .ant-menu-item-selected{
    background-color: var(--menu-background) !important;
    color: var(--menu-color) !important;
    border-right:none !important;
    border-bottom: 3px solid var(--menu-border) !important;
  }
  .col_avatar{
    text-align: center !important;
  }



}