:root {
  --inputErrorForm: rgba(0 , 0 , 0 , 0.15);
  --inputBorderErrorForm: #40a9ff;
}


@font-face {
  font-family: 'SF Pro Display';
  src: url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Heavy.eot) format('embedded-opentype'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff2) format('woff2'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff2) format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Medium.eot) format('embedded-opentype'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Medium.woff2) format('woff2'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.eot) format('embedded-opentype'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff2) format('woff2'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.btn_add_media , .btn-update-user{
  @media screen and (max-width: 767px) {
      width: 32px !important;
      height: 32px !important;
      padding: 0 !important;
  }
}
.PhoneInputCountrySelect{
 background-color: var(--card_color) !important;
  color: var(--white_color) !important;
}
.PhoneInputCountrySelect::-webkit-scrollbar{
  width: 4px !important;
  height: 4px;
}
.PhoneInputCountrySelect::-webkit-scrollbar-track{
  background-color: var(--card_color) !important;
  z-index: 999;
  border: none !important;
  box-shadow: none !important;
}
.PhoneInputCountrySelect::-webkit-scrollbar-thumb{
  background-color: var(--icon-color);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
.PhoneInputCountrySelectArrow{
  color: var(--white_color) !important;
  font-size: 16px !important;
}
.ant-table-cell-scrollbar{
  box-shadow: none !important;
}
.row_abonnement{
  padding-right: 15px;
}
.img-strip{
  width: 46px;
  height: 18px;
}
.button-payment{
  width: 49px !important;
  height: 23px !important;
  background: RGB(0, 127, 203) !important;
  color: white !important;
  display: flex ;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.row_password{
  padding-bottom: 15px;
  border-bottom: 1px solid var(--border_color) !important;
}
.col-selectMenu{
  padding-left: 25px !important;
  padding-right: 0 !important;
  @media screen and (max-width: 768px){
    max-width: 68.5%;
  }
  @media screen and (max-width: 767px){
    max-width: 100%;
  }
}
.spn_CompteSettings{
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
.content-col{
  padding: 20px !important;
}
.spn1_securité{
  font-family: "SF Pro Display" !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  text-align: left !important;
}
.spn2_motDePasse{
  font-family: "SF Pro Display";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
.mdp{
  font-size: 14px;
  font-family: "SF Pro Display";
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}
.spn_abonnement{
  font-size: 20px;
  font-family: "SF Pro Display";
  font-weight: 500;
}
.parag_abonnement{
  font-size: 14px;
  font-family: "SF Pro Display";
  font-weight: normal;
}
.col_update_infos{
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
}
.parag_abonnement_gras{
  font-size: 14px;
  font-family: "SF Pro Display";
  font-weight: 500;
}
.spn_limite{
  font-size: 13px;
  font-family: "SF Pro Display";
  font-weight: 500;
}
.ant-badge-status-text{
    color: var(--white_color) !important;
}

#product-form_email{
  border-color: var(--border_color) !important ;
  box-shadow :none;
  &:hover{
    border-color: var(--inputBorderErrorForm) !important;
    box-shadow :none;
  }
  &.ant-form-item-has-error .ant-input{
    border-color: red !important;
  }
}

#product-form_email:focus{
  border-color: var(--inputBorderErrorForm) !important;
  border-right-width: 1px !important;
  box-shadow :none;
  outline: 0;
}

.ant-form-item-has-error{
  border-color: red !important;
}

.ant-form-item-has-error .ant-input, .ant-form-item-has-error .ant-input-affix-wrapper, .ant-form-item-has-error .ant-input:hover, .ant-form-item-has-error .ant-input-affix-wrapper:hover {
  background-color: #fff;
  border-color: #ff4d4f !important;
}

.ant-form-item-has-error .ant-input{
  border-color: red !important;
  &:focus{
    border-color: red !important;
  }
}


//************* Media Query Compte Settings ***************//

@media (max-width: 1080px) {
   .col_avatar{
     margin-bottom: 30px;
   }
  .row_abonnement{
    padding-right: 0px;
  }
}

.padding-row  {
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .col_update_infos{
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
  }
  .row_abonnement{
    padding-right: 0px;
  }



  .menuCompteSettings{
   width: 100% !important;
  display: flex !important;
   flex-direction: row !important;
   justify-content: space-between !important;
   align-items: center !important;
   border-right: none !important;
 }
  .ant-menu-item-selected{
    background-color: var(--menu-background) !important;
    color: var(--menu-color) !important;
    border-right:none !important;
    border-bottom: 3px solid var(--menu-border) !important;
  }
  .col_avatar{
    text-align: center !important;
  }

  .account-Setting-Title{
    font-size: 15px !important;
  }

}

@media screen and (max-width: 320px) {
  .account-Setting-Title{
    font-size: 11px !important;
  }
}
@media screen and (max-width: 280px) {
  .account-Setting-Title{
    font-size: 10px !important;
  }
}

/**************react phone number input*****************************/
.PhoneInput{
  border: 1px solid var(--border_color);
  &:hover, &:focus{
    border-color: #40a9ff !important;
    border-right-width: 1px !important ;
    outline: 0 !important;
  }
  .PhoneInputCountry{
    padding-left: 10px;
  }
  .PhoneInputInput{
      background-color: var(--card_color);
      color: var(--white_color);
      padding: 4px 11px !important;
      border: none !important;
      outline: 0 !important;
     
  
      &::placeholder{
        opacity: 0.6 !important;
       }
  }
}
.ant-form-item-has-error{
  .PhoneInput{
    border-color: #ff4d4f !important;
  }
}

