@font-face {
  font-family: 'SF Pro Display';
  src: url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Heavy.eot) format('embedded-opentype'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff2) format('woff2'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff2) format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Medium.eot) format('embedded-opentype'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Medium.woff2) format('woff2'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.eot) format('embedded-opentype'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff2) format('woff2'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.col-contact{
   width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  //position: absolute;
  //top:50%;
  //left: 50%;
  //transform: translate(-50%,-50%);
  span{
    padding-left:10%;
  }
  .ant-form-item textarea.ant-input{
    max-height: 100px !important;
  }
}
.text-form{
  display:flex ;
  align-items:center ;
  justify-content:flex-end ;
}
.spn1{
  font-family: "SF Pro Display";
  font-size: 20px;
  font-weight: normal;
}
.spn2{
  font-family: "SF Pro Display";
  font-size: 14px;
  font-weight: normal;
}

//********** Smart Phone *********************//

@media (max-width:320px) and (min-height: 320px) {
  .col-contact{
    width: 90% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    //position: absolute;
    //top:85% !important;
    //left: 50%;
   // transform: translate(0%, 10%);
  }
  }

@media (min-width:320px) and (max-width:575px) {
  .col-contact{
    width: 90% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    //position: absolute;
    //top:55%;
    //left: 50%;
    //transform: translate(0%, 10%);
    span{
      padding-left:0;
    }
  }
  .text-form{
    display:flex ;
    align-items:center ;
    justify-content:center ;
  }

}
@media (max-width:240px) and (max-height: 320px) {
  .col-contact{
    width: 90% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    //position: absolute;
    //top:120% !important;
    //left: 50%;
    //transform: translate(-50%,-50%);
  }
  .text-form{
    display:flex ;
    align-items:center ;
    justify-content:center ;
  }
}
//********** Tablette *********************//
@media (min-width:576px) and (max-width:800px) {
  .col-contact{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    //position: absolute;
    //top:40%;
    //left: 57%;
    //transform: translate(5%,50%);
    span{
      padding-left:10%;
    }
  }
  .text-form{
    display:flex ;
    align-items:center ;
    justify-content:center ;
  }
}