:root {
  --errorForm: rgba(0 , 0 , 0 , 0.15);
  --borderErrorForm: #40a9ff;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Heavy.eot) format('embedded-opentype'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff2) format('woff2'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff2) format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Medium.eot) format('embedded-opentype'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Medium.woff2) format('woff2'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.eot) format('embedded-opentype'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff2) format('woff2'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.col-connexion{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.span_connexion{
    font-family: "SF Pro Display";
    font-size: 20px;
    font-weight: normal;
}
.col_input input{
  font-family: "SF Pro Display";
  font-size: 14px;
  font-weight: normal;
}

.ant-input-affix-wrapper{
  border-color: var(--errorForm) !important ;
  &:hover{
    border-color: var(--borderErrorForm) !important;
  }
}

.ant-input-affix-wrapper:focus{
    border-color: var(--borderErrorForm) !important;
    border-right-width: 1px !important;
    outline: 0;
}

.ant-form-item-has-error{
  border-color: red !important;
}

.ant-form-item-has-error .ant-input, .ant-form-item-has-error .ant-input-affix-wrapper, .ant-form-item-has-error .ant-input:hover, .ant-form-item-has-error .ant-input-affix-wrapper:hover {
  background-color: transparent!important;
  border-color: #ff4d4f !important;
}
.spn_chbx{
  font-family: "SF Pro Display";
  font-size: 14px;
  font-weight: normal;
}

.ant-input-affix-wrapper{
  border-color: var(--errorForm) !important ;
  &:hover{
    border-color: var(--borderErrorForm) !important;
  }
}

.ant-input-affix-wrapper:focus{
    border-color: var(--borderErrorForm) !important;
    border-right-width: 1px !important;
    outline: 0;
}

.ant-form-item-has-error{
  border-color: red !important;
}

.ant-form-item-has-error .ant-input, .ant-form-item-has-error .ant-input-affix-wrapper, .ant-form-item-has-error .ant-input:hover, .ant-form-item-has-error .ant-input-affix-wrapper:hover {
  background-color: #fff;
  border-color: #ff4d4f !important;
}

//*********** Media Query **************//

//********** Smart Phone *********************//

@media (max-width:575px) {

  .col-connexion{
    width: 70% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50% !important;
    left: 50%;
    transform: translate(-50%,-50%);
  }

}
@media (max-width:320px) and (min-height: 320px) {
  .col-connexion{
    width: 70% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:62% !important;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
@media (max-width:240px) and (max-height: 320px) {
  .col-connexion{
    width: 70% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:110% !important;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

//********** Tablette *********************//
@media (min-width:576px) and (max-width:1080px) {
  .col-connexion{
    width: 70% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

//*********** Media Query **************//