.title-col{
  background: RGBA(0, 0, 0, 0.04);
  text-align: left;
  display:flex;
  alignItems:center;
  font-size: 20px;
  padding:1% 1.5% !important;
}

.header-col{
  font-family: -apple-system;
  font-size: 17px;
  text-align: left;
  display:flex;
  alignItems:center;
}

.titre-menu{
  padding: 8% 5%;
  border-bottom: 1px solid RGBA(0, 0, 0, 0.06);
  margin-bottom: 5%;
}

.col-forms{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ant-menu-item , .ant-menu-item-selected , .ant-menu-item-only-child{
  &:focus{
    border-right: 3px solid #1890ff !important;
  }
}

.modal-speaker{
  width: 550px !important;
  height: 800px !important;
}

.list-speaker{
  margin-left: 3%;
  width: 100%;
  &.scrolling{
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1 ;
    scollbar-border-radius: 20px;
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 20px;
      border: 3px solid #f1f1f1;
      &:hover {
        background: #555;
      }
    }
  }
}

.list-speaker{
  margin-left: 3%;
  width: 100%;
  &.scrolling{
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1 ;
    scollbar-border-radius: 20px;
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 20px;
      border: 3px solid #f1f1f1;
      &:hover {
        background: #555;
      }
    }
  }
}

.list-speaker{
  margin-left: 3%;
  width: 100%;
  &.scrolling{
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1 ;
    scollbar-border-radius: 20px;
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 20px;
      border: 3px solid #f1f1f1;
      &:hover {
        background: #555;
      }
    }
  }
}