.title-col{
  background: RGBA(0, 0, 0, 0.04);
  text-align: left;
  display:flex;
  alignItems:center;
  font-size: 20px;
  padding:1% 1.5% !important;
}

.header-col{
  font-family: -apple-system;
  font-size: 17px;
  text-align: left;
  display:flex;
  alignItems:center;
}

.titre-menu{
  padding: 8% 5%;
  border-bottom: 1px solid RGBA(0, 0, 0, 0.06);
  margin-bottom: 5%;
}

.col-forms{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ant-menu-item , .ant-menu-item-selected , .ant-menu-item-only-child{
  &:focus{
    border-right: 3px solid #1890ff !important;
  }
}