@font-face {
  font-family: 'SF Pro Display';
  src: url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Heavy.eot) format('embedded-opentype'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff2) format('woff2'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff2) format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Medium.eot) format('embedded-opentype'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Medium.woff2) format('woff2'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.eot) format('embedded-opentype'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff2) format('woff2'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root{
  --display-emails: none;
}
.title-col{
  background: RGBA(0, 0, 0, 0.04);
  text-align: left;
  display:flex;
  alignItems:center;
  font-size: 20px;
  padding:1% 1.5% !important;
}

.header-col{
  font-family: -apple-system;
  font-size: 17px;
  text-align: left;
  display:flex;
  alignItems:center;
}

.titre-menu{
  padding: 8% 5%;
  border-bottom: 1px solid RGBA(0, 0, 0, 0.06);
  margin-bottom: 5%;
}
.config_direct{
  font-family: "SF Pro Display" !important;
  font-size: 20px !important;
  font-weight: normal !important;
  font-stretch: normal !important;
  font-style: normal !important;
  letter-spacing: normal !important;
}

.col-forms{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.col-forms span{
  font-size: 14px;
  font-family: "SF Pro Display";
  font-weight: 500;
}
.col-forms p {
  font-size: 14px !important;
  font-family: "SF Pro Display" !important;
  font-weight: normal !important;
}
.col_planification span{
  font-size: 14px;
  font-family: "SF Pro Display";
  font-weight: 500;
}

.col-forms-upload{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span{
    width: 50%;
  }
}

.ant-menu-item , .ant-menu-item-selected , .ant-menu-item-only-child{
  &:focus{
    border-right: 3px solid #1890ff !important;
  }
}

.modal-speaker{
  width: 550px !important;
  height: 800px !important;
}

.list-speaker{
  margin-left: 3%;
  width: 100%;
  &.scrolling{
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1 ;
    scollbar-border-radius: 20px;
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 20px;
      border: 3px solid #f1f1f1;
      &:hover {
        background: #555;
      }
    }
  }
}

.list-speaker{
  margin-left: 3%;
  width: 100%;
  &.scrolling{
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1 ;
    scollbar-border-radius: 20px;
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 20px;
      border: 3px solid #f1f1f1;
      &:hover {
        background: #555;
      }
    }
  }
}

.list-speaker{
  margin-left: 3%;
  width: 100%;
  &.scrolling{
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1 ;
    scollbar-border-radius: 20px;
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 20px;
      border: 3px solid #f1f1f1;
      &:hover {
        background: #555;
      }
    }
  }
}

.list-speaker{
  margin-left: 3%;
  width: 100%;
  &.scrolling{
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1 ;
    scollbar-border-radius: 20px;
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 20px;
      border: 3px solid #f1f1f1;
      &:hover {
        background: #555;
      }
    }
  }
}

.Invitation{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.title_invitation{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.title_invitation h3{
  font-family: 'SF Pro Display';
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.85);
}
.groupEmail{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupEmail span{
  font-family: 'SF Pro Display' !important;
  font-size: 14px;
  font-weight: 500 !important;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 6px;
}
.infosIcon{
  font-size: 14px !important;
  margin-left: 9px;
}
.selectGroupGmail{
  width: 100% !important;
}
.div2{
  margin-top: 2%;
}
.AddTags{
  width: 100%;
  min-height: 72px;
  padding: 0.5% 0.5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 2px;
}
.AddTagsConfiguration{
  width: 100%;
  min-height: 32px;
  padding: 0.5% 0.5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 2px;
}
.div_Email_accée{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.div_Email_accée p{
  font-family: "SF Pro Display";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.65);
}
.infos_ajout_régle{
  width: 100%;
  height: 65px;
  padding: 15px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title_ajout_régle{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.p_ajout_régle{
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.p_ajout_régle p{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.div_icon_ajout_régle{
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.title_ajout_régle span{
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.85);
}
.icon_ajout_régle{
  margin-right: 10px ;
  font-size: 28px !important;
  color: #DDDDDD !important;
}
.p_ajout_régle{
  margin-top: 5px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: rgba(0, 0, 0, 0.65);

}
.icon2_ajout_régle{
  font-size: 21px !important;
}
.btn_ajout_régle{
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.btn_ajout{
  width: 20%;
  height: 32px;
  padding: 2%;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;

}
.btn_ajout span{
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.85);
  margin-top: 5px;
}
.icon_btn_ajout{
  font-size: 14px;
  color:  rgba(0, 0, 0, 0.65) !important;
  margin-right: 5px;
  margin-top: 5px;
}
.list2{
  margin-top: 2%;
}
.popover{
  margin-top: 2%;
}
.popoverCheckbox{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.chbx1{
  margin-left: 8px !important;
  margin-bottom: 10px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}
.chbox2{
  margin-bottom: 10px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.col-planification{
  border:1px solid RGBA(0, 0, 0, 0.15);
  padding:4% 4%
}

.ant-list-split .ant-list-item {
  border-bottom: 1px solid RGBA(0, 0, 0, 0.15)!important;
}

.list-speaker{
  max-height: 172px;
}
/*EmailsInvitations*/
.custom-dropdown {
  display: var(--display-emails) !important;
}
.custom-select{
  min-height: 32px !important;
}
.form_Invitation{
  width: 100% !important;
}
.form_Invitation .ant-select-selector{
  width: 100% !important;
}
.ant-select-multiple .ant-select-selection-item{
  height: 28px !important;
}
.Paramétres{
  font-family: 'SF Pro Display';
  font-weight: 900 ;
}
.col_socialMedia p{
  font-size: 20px;
  font-weight: normal;
  font-family: "SF Pro Display";
}
.col-name-socialMedia span{
  font-family: "SF Pro Display";
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}
.spn_planification{
  font-family: "SF Pro Display" !important;
  font-size: 14px !important;
  font-weight: normal !important;
}
.col-planification Button{
  font-family: "SF Pro Display" !important;
  font-size: 14px !important;
  font-weight: normal !important;
}
.col_Empreinte .spn1{
  font-family: "SF Pro Display" !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.col_Empreinte .spn1{
  font-family: "SF Pro Display" !important;
  font-size: 12px !important;
  font-weight: normal !important;
}
.col_texte_empreinte{
  font-family: "SF Pro Display" !important;
  font-size: 12px !important;
  font-weight: normal !important;
}
.FundamentalsofWebinar{
  font-family: "SF Pro Display" !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.Empriente.com{
  font-family: "SF Pro Display" !important;
  font-size: 14px !important;
  font-weight: normal !important;
}
.span_modal{
  font-family: "SF Pro Display";
  font-weight: 500;
  font-size: 14px;
}
.btn_upload_pic{
  font-family: "SF Pro Display" !important;
  font-weight: normal !important;
  font-size: 14px !important;
}
.input_modal{
  font-family: "SF Pro Display" !important;
  font-weight: normal !important;
  font-size: 14px !important;
}

@media (max-width: 1161.1px) {
  .list-speaker{
    max-height: 257.33px !important;
  }
}

.col-item-list{
  -webkit-transition: padding 2s !important;
  &:hover{
    cursor: pointer !important;
    -webkit-transition: border-radius 2s !important;
    //background-color: grey !important;
    box-shadow: none;
    color: whitesmoke !important;
  }
}

.form-item-style{
  width: 100%;
}

.require{
  color: #ff4d4f;
  margin-left: 2px;
}
.col-forms-upload span{
  width: 50% !important;
}
.ant-upload-list-item-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Templetes{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
#inlineFrameExample{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .ant-upload-drag{
    width: 200% !important;
  }
}
@media screen and (max-width: 767px) {
  .ant-menu-item , .ant-menu-item-selected , .ant-menu-item-only-child{
    &:focus{
      border-right: none !important;
    }
  }
  .spn_add_live{
    display: none !important;
  }
  .btn_add_live{
    width: 32px !important;
    height: 32px !important;
    text-align: center !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .icon_add_live{
    margin-right: -8px !important;
  }
  .itemMenu{
    border-bottom: none !important;
  }
  .itemMenu:hover{
    background-color: var(--menu-background) !important;
    color: var(--menu-color) !important;
    border-right:3px solid var(--menu-border) !important;
  }
  .row_menu .ant-menu-item-selected{
    background-color: white !important;
    color: var(--item-menu-color) !important;
  }
  .row_menu .ant-menu-item-selected:hover{
    background-color: var(--menu-background) !important;
    color: var(--menu-color) !important;
    border-right:3px solid var(--menu-border) !important;
  }
}

.ant-form-item-has-error .ant-input-number, .ant-form-item-has-error .ant-picker{
  border : 1px solid red !important;

}