:root {
  --border_color:rgba(0 , 0 , 0 , 0.15);
}
.ant-modal-mask{
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 1000 !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.DataTable{
&__custom-row {
  &:hover td{
    background:  var(--tag-blue-background)!important;
  }
}
}
.ant-pagination-item-active a{
  background: #1890ff !important;
  color: #fff !important;
 }
.DataTable .ant-table-row-selected td{
  background: var(--tag-blue-background) !important;

}
.extra-margin{
  margin-right: 40% !important;

}

@media screen and (min-width: 575px) and (max-width: 767px) {
  .action{
    position: absolute;
    top: 0;
    width: 100%;
    right: 0.5em;
    justify-content: flex-end;
    height: 100%;
  }
  .span_action{
    height: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -15px!important;
    margin-bottom:0!important;
  }
}
  @media screen and (max-width: 767px) {
    .ant-dropdown-menu{
      margin-left: -50px !important;
      margin-top: -5px;
    }
    .DataTable{
      margin-top: 1%;
    }
    .DataTable .ant-table-cell:nth-of-type(1){
      display: none !important;
    }
    .DataTable .ant-table-cell:nth-of-type(2) {
      display: none !important;
    }
    .DataTable .ant-table-row{
      border: 1px solid var(--border_color) !important;
      min-height: 120px;
      max-width: 100% !important;
      position: relative !important;
      margin-bottom: 2% !important;
      margin-top: 2% !important;
      overflow: hidden;
    }
    .DataTable .ant-table-cell{
      border: 0 !important;
    }
    .DataTable .ant-table-cell:last-child{
      bottom: 5px;
      text-align: end;
      display: flex;
      justify-content: end;
      position: absolute;
      right: 0;
    }
    .DataTable .ant-table thead {
      border: none;
      clip: rect(0 0 0 0);
      overflow: hidden;
      padding: 0;
      position: absolute;
    }
    .DataTable .ant-table tr {
      display: block;
    }
    .div_apercu{
      z-index: 9;
      position: absolute;
      top: 0;
      left: 0;
    }
    .img_aperçu{
      width: 140px !important;
      height: 120px !important;
    }
    .div_titre{
      width: 150px;
      min-height: 10px;
      text-align: left !important;
      padding:0 20px;
      position: absolute;
      top: 5px;
      left: 110px;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 6px;
      padding-right: 0;
      white-space: nowrap;
    }
    .div_date{
      min-height: 10px !important;
      text-align: left !important;
      padding:0 15px;
      position: absolute;
      top: 32px;
      left: 80px;
      padding-left: 5px;
      padding-right: 0;
    }
    .div-status{
      //width: 50px;
      position: absolute;
      top: 85px;
      left: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      .ant-tag{
        margin-right: 5px;
        padding: 0 5px;
      }
    }
    .btn_Visualiser_diffuser{
      padding: 4px 7px;
      height: 21px;
      #icon_vs{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
      }
    }
    .action{
      position: absolute;
      top: 0;
      width: 100%;
      right: 0.5em;
      justify-content: flex-end;
      height: 100%;
    }
    #span_diffuser{
      display: none;
    }
    .action Button{
      width: 24px !important;
      height: 24px !important;
      display: flex;
      flex-direction: row;
      justify-content: center !important;
      align-items: center !important;
      text-align: center !important;
    }
    .span_action{
      height: 20px;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: -15px!important;
      margin-bottom:0!important;
    }

    #spn_ajouter{
      display: none !important;
    }
    #Text_Calendar{
      display: none !important;
    }
    #spn_option{
      z-index: 99999999999999999999999999999;
    }
    .showVideo{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .div1_showVideo{
      height: 205px;
    }
    .div_delete_select{
      width: 100%;
      height: 40px;
    }
    .Calendrier{
      width: 15%;
    }
    .showVideosDiv .card .ant-card-body{
      padding: 0px !important;
    }
    .card2{
      padding: 10px !important;
    }
    .div_Notification_user_dar{
      display: none !important;
    }
    .div_home_logo{
      width: 100% !important;
      padding: 10px 0px;
    }
    .menu_hamg{
      display: block !important;
      font-size: 20px;
    }
    .span_time{
      font-family: "SF Pro Display";
      font-size: 14px;
      font-weight: 400;
      color: RGBA(0, 0, 0, 0.85);
      margin-bottom: 2%;
    }
    .tag_moment{
      width: 100%;
    }
    .spn_Date_event{
      font-family: "SF Pro Display";
      font-size: 20px;
      font-weight: 400;
      color: RGBA(0, 0, 0, 0.85);
    }
    .footer_modal_Avenir{
      width: 320px !important;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .div2_time_calendar{
      width: 100% !important;
      height: 90% !important;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center !important;
      margin-top: 10px;
      overflow: hidden;
    }
    .div2_time_calendar p{
      width: 40% !important;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.85);
    }

  }
/*********desktop devices*************/
  @media screen and (min-width: 1024px) {

    .columnId{
      width: 5%;
    }
    .columnFeed{
     width: 10% ;
    }
    .columnState{
      width: 15%;
    }
    .columnDate{
      width: 20%
    }
    .columnTitle{
      width: 39%;
    }
    .columnAction{
      width: 11%;
    }
}


