/**chapter component*****/
.Chapters {
  &__list-item {
    border-bottom: 1px solid var(--icon-color);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    color: var(--white_color);
    span[aria-label="edit"] {
      margin-right: 15px;
    }
    span[aria-label="menu"] {
      margin-right: 5px;
    }

    &__contentToEdit {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }
  &__input {
    margin-top: 10px;
    background-color: var(--card_color) !important;
    color: var(--white_color) !important;
    border-color: 1px solid var(--border_color) !important;
    &-edit {
      width: 100%;
    }
  }
  
  &__list-item__actions {
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
  }
 
}
.tabMenu{
  &:hover{
    color: #1890ff !important;
  }
}

/********question**********/
/**chapter component*****/
.Question {
  &__list-item {
    border-bottom: 1px solid var(--icon-color);
    padding: 10px 0 6px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white_color);
    span[aria-label="edit"] {
      margin-right: 15px;
    }
    span[aria-label="menu"] {
      margin-right: 5px;
    }

    &__contentToEdit {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }
  &__input {
    margin-top: 10px;
    background-color: var(--card_color) !important;
    color: var(--white_color) !important;
    //border-color: 1px solid var(--border_color) !important;
    &-label {
      //text-transform: capitalize;
    }
  }
  &__input-edit {
    width: 100%;
  }
  &__list-item__actions {
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
  }
  &__list-item:hover {
    .Question__list-item__actions {
      visibility: visible;
    }
  }

  &__add-question {
    text-align: end;
    width: 100%;
    color: var(--white_color);
    span {
      cursor: pointer;
    }
  }
  &__new-question {
    background: var(--bg-card-question);
    padding: 0.8em;
    border: 1px solid var(--border_color);
    color: var(--white_color);
  }
  &__edit-question{
    background: #f1f3f4;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }
  &__actions {
    &-abort {
      margin-right: 10px;
    }
    &-disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  }
  &__custom-column{
    display: flex;
    align-items: center;
    input{
      margin: 0px;
    }
  }

  &__grp-radio{
    span{
      color: var(--white_color) !important;

    }
  }
}

/*****************TabMenu component**********/
.TabMenu {
  .ant-tabs-tab {
    text-transform: capitalize;
    color: var(--white_color) !important;
  }
  .ant-tabs-nav{
    &::before{
      border-bottom: 1px solid var(--border_color);
    }
  }
  
}
/************common styles******************/
  .list-item-icons{
    color: var(--icon-color) !important;
    cursor: pointer !important;
    &:hover{
      color: RGB(0, 127, 203) !important;
    }
  }
  .empty-list{
    width: 100%;
    text-align: center;
    color: var(--white_color);
  }
 

  .text-overflow{
    overflow-wrap: break-word;
  }
  .menuOutlinedIcon{
    font-size: 16px;
  }


