@font-face {
  font-family: 'SF Pro Display';
  src: url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Heavy.eot) format('embedded-opentype'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff2) format('woff2'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff2) format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Medium.eot) format('embedded-opentype'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Medium.woff2) format('woff2'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.eot) format('embedded-opentype'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff2) format('woff2'),
  url(../assets/fonts/transfonter.org-20210601-105009/SFProDisplay-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.col-signUp{
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:50% !important;
  left: 50% !important;
  transform: translate(-50%,-50%) !important;
  margin-top: 4%;

}

.text-form{
  display:flex ;
  align-items:center ;
  justify-content:flex-end ;
  margin-bottom: 2%;
}
.spn1{
  font-family: "SF Pro Display";
  font-size: 20px;
  font-weight: normal;
}
.spn2{
  font-family: "SF Pro Display";
  font-size: 14px;
  font-weight: normal;
}
.form-item-style{
  margin-bottom: 0 !important;
}
.require{
  color: #ff4d4f;
  margin-right: 2px;
}
.ant-form-item-label{
  display: flex;
  justify-content: flex-end;
}

.ant-checkbox-inner{
  border-color: var(--box-signup) !important;
}

//********** Tablette *********************//
@media  (max-height:1046px) {

}
@media  (max-height:1112px) {
  .col-signUp{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:470px !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
    margin-top: 4%;
  }
}
@media (min-width:576px) and (max-width:1250px) {
.pol{
  display: none !important;
}
  .col-signUp{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:470px !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
    margin-top: 4%;
  }
}
@media (max-width:576px) {
  .col-signUp{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:660px !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
    margin-top: 4%;
  }
  .text-form{
    display:flex ;
    align-items:center ;
    justify-content:flex-end ;
  }
  .ant-form-item-label{
    display: flex;
    justify-content: flex-start;
  }
  .pol{
    display: none !important;
  }


}

@media (max-width:320px) and (min-height: 320px) {
  .col-signUp{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:700px !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
    margin-top: 4%;
  }
}
@media (max-width:240px) and (max-height: 320px) {
  .col-signUp{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:750px !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
    margin-top: 4%;
  }
}